/****** Dark theme Material Design ******/

$dark-status-bar: #000000;
$dark-app-bar: #212121;
$dark-background: #303030;
$dark-cards-dialogs: #424242;
$dark-primary-text: rgba(255, 255, 255, 1.00);
$dark-secundary-text: rgba(255, 255, 255, 0.70);
$dark-disabled-text: rgba(255, 255, 255, 0.50);
$dark-divider-text: rgba(255, 255, 255, 0.12);
$dark-divider: rgba(255, 255, 255, 0.38);
$dark-icon-active: rgba(0, 0, 0, 0.54);
$dark-icon-inactive: rgba(0, 0, 0, 0.38);

/****** /Dark theme Material Design ******/


/****** Light theme Material Design ******/

$light-status-bar: #e0e0e0;
$light-app-bar: #f5f5f5;
$light-background: #fafafa;
$light-cards-dialogs: #ffffff;
$light-primary-text: rgba(0, 0, 0, 0.87);
$light-secundary-text: rgba(0, 0, 0, 0.54);
$light-disabled-text: rgba(0, 0, 0, 0.38);
$light-divider-text: rgba(0, 0, 0, 0.12);
$light-divider: rgba(0, 0, 0, 0.38);
$light-icon-active: rgba(255, 255, 255, 1.00);
$light-icon-inactive: rgba(255, 255, 255, 0.50);

/****** /Light theme Material Design ******/


/****** Theme v2 Freshmart  ******/

$primary-green: #13a538; // #077915;
$primary-green-hover: rgb(23, 187, 64);
$primary-orange: #FF6700; // #fc7710;
$primary-grey : #354244;
$primary-grey-hover: #23527c;
$primary-grey-text: #4e4d46;
$primary-grey-disabled: rgba($primary-grey, .65);
$white: #fff;
$gray-eighty: #ccc;
$gray-light: #999;
$gray-medium: #666;
$gray-dark: #333;
$black: #000;
$red: #e23d3d;
$gray-light-bg: #f5f5f5;
$gray-medium-bg: #f1f1f1;
$gray-dark-bg: #dddddd;
$green-light-bg: rgba(147, 220, 156, 0.15);
$color-btn-gris: #ededed;
$color-btn-text: #292b2d;
$background-general: #E5E5E5;
$social-facebook : #0062b3;
$social-facebook-hover : #004680;
$social-google : #cd3919;
$social-google-hover : #a02c13;

/****** /Theme v2 Freshmart  ******/